.hero-image{
  display: flex;
  justify-content: center;
  position: relative;
  height: 250px;
  overflow: hidden;
  img{
    max-height: 250px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
  }
  div{
    width: 100%;
    height: 250px;
    filter: blur(10px);
    position: absolute;
    background-size: 100% 100%;
  }
}
.hero-image.noimage{
  height: 250px;
  background-color: #E5EEFC;
  img{
    width: auto;
  }
}