.igames{
  background-color: #fafafa;
  margin-left: -16px;
  margin-right: -16px;
  a{
    display: block;
    padding:0px 16px;
    width:calc(100vw - 32px);
  }
  h3{
    padding:0px 16px 16px;
    font-family: NotoSans-Bold;
  }
  img{
    border-radius: 4px;
    overflow:hidden;
    width:100%;
  }
  .whitebtn{
    position: absolute;
    right: 28px;
    bottom: 16px;
  }
}
